body{
    font-family: Vogue, sans-serif;
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #feeacc;
    overflow-x: hidden;
}

.renov{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 100px;
}

.renov img{
    width: 20%;
    height: auto;
}

.renov h1 {
    color: #d56e0e;
    font-size: 4vw;
    text-align: center;
}

.renov p {
    color: #d56e0e;
    font-size: 1vw;
    text-align: center;
}